.clock{
  font-size: 3rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}


.title{
  font-size: 3rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.text {
    font-size: 1rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.sponsor {
    font-size: 2rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}


/*little button to take me to twitter*/
.creditlink {
    position: fixed;
  top: 94vh;
/*     left: 0%; */
  right: 5%;
  bottom: 0%;
  width: 115px;
  text-align:right;
  z-index:9999;
  margin-top:-15px;
}

/* If you want to hide this on devices smaller than the iPad */

  @media (max-width:720px) {
      .creditlink {
        display:none;
      }
    }
.creditBTN {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    border-radius: 4px;
    background-color: #dd3645;
    border: none;
    color: black;
    text-align: center;
    font-size: 0.7rem;
    height: 3rem;
    padding: 1rem;
    width: 10rem;
    transition: all 0.5s;
    cursor: pointer;
    float: left;
    text-decoration: none;
}

/*.creditBTN:hover {
    background-color: rgba(0, 0, 0, 0.64);
}*/